/* .m-item img {
  width: 100%;
} */

/*  */

/* .project-content {} */
/* .carousel-slides {} */

/* .item:nth-child(1) { background: red; } */
/* .item:nth-child(2) { background: blue; } */
/* .item:nth-child(3) { background: green; } */
/* .item:nth-child(4) { background: gold; } */

/* .item {} */

/*  */

/* .owl-carousel {
  display: none;
} */

/*  */

.project-content {
  /* grid-template: repeat(4, 1fr) / repeat(4, 1fr); */
  /* --row: minmax(884px,1fr);  */
  /* h: 644px */
  /* --column: minmax(200px,1fr);  */
  /* h: 149px */
  /* --row: 505px; */
  /* --column: minmax(auto,884px) minmax(200px,1fr); */
  /* grid-template: var(--row) / var(--column); */
  /* grid-auto-flow: column; */
  /* --row: 335px; */
  /* grid-template: var(--row); */
  /* grid-auto-rows: var(--row); */
}
.project-content .mobile-item {
  height: 335px;

  /* border-radius: var(--radius); */
  /* overflow: hidden; */
  /* box-shadow: var(--shadow-active); */
}
.project-content .mobile-item:not(:last-child) {
  margin-bottom: 1.5em;
}
.project-content .mobile-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel-slide {
  display: none !important;
}
.slide-indicator {
  display: none !important;
}

/*  */

@media (min-width: 900px) {
  .project-content .mobile-item 
  { display: none; }
  .project-content {
    /* --row: 505px; */
    /* --column: minmax(auto,884px) minmax(200px,1fr); */
    /* grid-template: var(--row) / var(--column); */
    display: flex;

  }
  .carousel-slide {
    display: block !important;
    width: 884px;
    height: 505px;
  }
  .carousel-slide img {
    /* height: 100% !important; */
  }
  .slide-indicator {
    /* display: block !important; */
    flex: 1 1 auto;
    display: flex !important;
    flex-flow: column;
    overflow: hidden;
  }
  .indicator {
    width: 100%;
    height: 200px;
  }
  .indicator img {
    /* display: none; */
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .indicator:not(:last-child) {
    margin-bottom: 1.5em !important;
  }

  /*  */

  .owl-nav img {
    --size: 20px;
    width: var(--size);
    height: var(--size);
  }
}

/*  */

/* .carousel-slide { */
  /* position: relative; */
/* } */
/* .item { */
  /* width: 100%; */
  /* height: 100%; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
/* } */
/* .item * { margin: auto; } */
/* .slide-options { */
  /* width: 100%; */
  /* height: 100%; */
  /* display: flex; */
  /* justify-content: space-between; */
  /* position: absolute; */
  /* top: 0; */
  /* left: 0; */
/* } */
/* .slide-options button { */
  /* height: 100%; */
  /* padding: 0 20px; */
  /* cursor: pointer; */
/* } */
/* .prev-btn */
/* .next-btn */
/* .slide-indicator { */
  /* display: flex; */
  /* flex-flow: column; */
/* } */
/* .indicator { */
  /* flex: 1 1 auto; */
  /* height: 0%; */
/* } */
