/* =================
** Setup
================= */

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-style: normal;
  src: 
    url('../fonts/proximanova-light.otf') 
    format('opentype');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-style: normal;
  src: 
    url('../fonts/proximanova-regular.otf') 
    format('opentype');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-style: normal;
  src: 
    url('../fonts/proximanova-semibold.otf') 
    format('opentype');
}

:root {
/* mobile */
  --h1-mobile: 300 28pt/1.25 'Proxima Nova', sans-serif;
  --h2-mobile: 400 24pt/1.25 'Proxima Nova', sans-serif;
  --h3-mobile: 400 18pt/1.25 'Proxima Nova', sans-serif;
  --h4-mobile: 300 18pt/1.25 'Proxima Nova', sans-serif;
  --body: 400 14pt/1.25 'Proxima Nova', sans-serif;
  --micro-copy: 400 12pt/1.25 'Proxima Nova', sans-serif;
/* desktop */
  --h1-desktop: 300 36pt/1.25 'Proxima Nova', sans-serif;
  --h2-desktop: 400 36pt/1.5 'Proxima Nova', sans-serif;
  --h3-desktop: 500 18pt/1.25 'Proxima Nova', sans-serif; /* 2% spacing */
  --body-1: 300 22pt/1.5 'Proxima Nova', sans-serif; /* 2.5% spacing */
  --body-2: 300 14pt/1.25 'Proxima Nova', sans-serif; /* 2% spacing */
/* Color Scheme */
  --light-gray-text: #FAFAFA;
  --dark-gray-text: #313131;
  --card-text: #637579;
  --navbar-mobile-text: #6F7374;
  --navbar-desktop-text: rgba(0, 0, 0, 0.6);
  --button-default:  rgba(0, 0, 0, 0.7);
  --button-active: #313131;
  --state-hover: rgba(13, 111, 107, 0.5);
  --state-active: rgba(84, 215, 209, 1);
  --shadow-default: 1px 3px 8px rgba(0, 0, 0, 0.15);
  --shadow-hover: 8px 8px 8px rgba(0, 0, 0, 0.15);
  --shadow-active: 4px 4px 6px rgba(65, 65, 65, 0.5);
/* other color */
  --line: #dadada;
  --bg: #e5e5e5;
  --white: #fff;
/* Reusable Parts */
  --radius: 0.25em;
  --speed: 0.55s;
  --spacing: 1em;
  --sides: 2em;
  /* --layout: 600px; */
  /* --layout: 1080px; */
  --layout: 1440px;
}

/* --- reset --- */

* { box-sizing: inherit; }

html, body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100%;
}

nav ul { 
  list-style: none; 
  padding-left: 0;
}

a { 
  text-decoration: none; 
  color: inherit;
}

/* img {} */

/* =================
** Typography
================= */

body { 
  background: var(--white);
  font: 400 1rem/1.25 'Proxima Nova', sans-serif; 
  letter-spacing: 0.01em;
}

/* @media (min-width: 800px) {} */

/* --- navbar --- */

.nav-item,
.contact-item 
{ font: var(--body-2); }

/* --- card --- */

.card-title p {
  color: var(--light-gray-text);
  margin: 0;
}
.card-overlay p {
  text-align: center;
  text-transform: uppercase;
}

/* --- content --- */

.page-title {
  font: var(--h2-mobile);
  margin: 0;
}

/* =================
** Resusable Parts
================= */

.page-sides { padding: 0 var(--sides); }
.page-layout {
  max-width: var(--layout);
  height: 100%;
  margin: 0 auto;
}
.logo { width: 142px; }

/* --- card --- */

.card-title p {
  color: var(--light-gray-text);
  margin: 0;
}
.card-overlay p {
  text-transform: uppercase;
}

.content {
  height: 100%;
}
.content > .page-layout {
  height: 100%;
  display: flex;
  flex-flow: column;
}

/* --- header --- */

.header {
  margin: 1em 0;
}
.line {
  background: var(--line);
  width: 100%;
  height: 1px;
  margin: 1em 0;
  display: block;
}

/* --- navbar --- */

.nav-menu {
  cursor: pointer;
  width: 20px;
  margin-left: auto;
}

.navbar-btn {
  --nav-btn-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 50%);
  border-radius: 0 var(--radius) var(--radius) 0;
  background: var(--navbar-mobile-text);
  width: 55px;
  height: 48px;
  display: flex;
  position: fixed;
  top: 176px;
  left: -70px;
  transition: left var(--speed) ease-out;
  box-shadow: var(--nav-btn-shadow);
  z-index: 2;
}
.navbar-btn-caret 
{ margin-right: 0.625em; }

/* navbar */

.navbar {
  background: var(--navbar-desktop-text);
  color: var(--light-gray-text);
  width: 187px;
  height: 100%;
  padding: 3em 1.25em 0;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -187px;
  transition: left var(--speed) ease-out;
  z-index: 5;
}
.nav-item:not(:last-child),
.contact-item:not(:last-child) 
{ margin-bottom: 1em; }
.nav-item a 
{ border-bottom: 1px solid transparent; }
.nav-item a:hover 
{ border-bottom-color: var(--state-active); }

/*  */

.navbar-overlay {
  --speed: 0.3s;
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: backdrop-filter var(--speed) ease-in;
  z-index: 1;
}

/*  */

.navbar-active 
{ left: 0; }
.nav-active a 
{ border-bottom-color: var(--state-active); }
.navbar.navbar-active ~ .navbar-overlay {
  visibility: initial;
  backdrop-filter: blur(4px);
}

/* =================
** Home
================= */

.home-content {
  position: relative;
  width: 100%;
  /* height: 100vh; */
}
.home-logo {
  position: absolute;
  top: 28px;
  left: 32px;
}
.project {
  width: 100%;
  height: 100vh;
  display: block;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* =================
** Portfolio
================= */

/*  */

.main
{ margin-bottom: 1em; }

.protfolio-projects {
  height: 100%;
  display: grid;
  gap: 1.5em;
  grid-template: 1fr / 1fr 1fr;
}
.card-primary { grid-column: 1 / -1; }

.card {
  border-radius: var(--radius);
  display: flex;
  flex-flow: column;
  position: relative;
  overflow: hidden;
  box-shadow: var(--shadow-default);
  transition: box-shadow var(--speed) ease;

}
.card-overlay {
  --speed: 0.3s;
  --size: 100%;
  width: var(--size);
  height: var(--size);
  display: grid;
  place-content: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--speed) ease;
  transition-property: background, color, opacity;
  cursor: pointer;
}
.card:hover 
{ box-shadow: var(--shadow-hover); }
.card:active
{ box-shadow: var(--shadow-active); }
.card:hover .card-overlay {
  background: var(--state-hover);
  color: var(--white);
  opacity: 1;
}
.card:active .card-overlay 
{ background: var(--state-active); }
.card-image {
  width: 100%;
  flex: 1;
}
.card-primary .card-image 
{ height: 0; }
.card-secondary .card-image 
{ height: 150px; }
.card-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.card-title {
  background: var(--card-text);
  /* margin-top: auto; */
  padding: 1em;
}

@media (min-width: 800px) {
  /* --- content --- */
  body 
  { display: flex; }
  .page-logo, 
  .line
  { display: none; }

  /* --- navbar --- */
  
  .navbar-btn 
  { display: none; }
  .navbar {
    position: initial;
    left: 0;
  }
  .navbar-caret
  { display: none; }

  /* --- grid --- */

  .protfolio-projects { grid-template: 1fr 1fr / 1fr; } 
  .card-primary { grid-row: auto / span 2; }
  .card-secondary { grid-column: -1; }
  .card-secondary .card-image {
    width: 200px;
    height: auto;
  }
}

/* =================
** Press
================= */

.press-content {
  display: grid;
  gap: 1.5em;
  grid-template: 275px 275px / 1fr 1fr;
}
.card-press .card-image 
{ height: 0; }