/* =================
** Setup
================= */

@font-face {
  font-family: 'Proxima Nova';
  font-weight: 300;
  font-style: normal;
  src: 
    url('../fonts/proximanova-light.otf') 
    format('opentype');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 400;
  font-style: normal;
  src: 
    url('../fonts/proximanova-regular.otf') 
    format('opentype');
}
@font-face {
  font-family: 'Proxima Nova';
  font-weight: 600;
  font-style: normal;
  src: 
    url('../fonts/proximanova-semibold.otf') 
    format('opentype');
}

:root {
/* Typography */
  --proxima-nova: 'Proxima Nova', sans-serif;
  --h1: 300 1.75rem/1.25 var(--proxima-nova);
  --h2: 400 1.5rem/1.25 var(--proxima-nova);
  --h3: 400 1.125rem/1.25 var(--proxima-nova);
  --h4: 300 1.125rem/1.25 var(--proxima-nova);
  --body: 400 0.875rem/1.25 var(--proxima-nova);
  --body-1: 300 1.375rem/1.5 var(--proxima-nova);   /* 2.5% lettering */
  --body-2: 300 0.875rem/1.25 var(--proxima-nova);  /* 2% lettering */
  --mirco-copy: 400 0.75rem/1.25 var(--proxima-nova);
/* Color Scheme */
  --light-gray-text: #FAFAFA;
  --dark-gray-text: #313131;
  --card-text: #637579;
  --navbar-mobile-text: #6F7374;
  --navbar-desktop-text: rgba(0, 0, 0, 0.6);
  --button-default:  rgba(0, 0, 0, 0.7);
  --button-active: #313131;
  --state-hover: rgba(13, 111, 107, 0.5);
  --state-active: rgba(84, 215, 209, 1);
  --shadow-default: 1px 3px 8px rgba(0, 0, 0, 0.15);
  --shadow-hover: 8px 8px 8px rgba(0, 0, 0, 0.15);
  --shadow-active: 4px 4px 6px rgba(65, 65, 65, 0.5);
/* other color */
  --line: #DADADA;
  --bg: #E5E5E5;
  --white: #fff;
/* Reusable Parts */
  --logo-size: 85px;
  --radius: 0.25em;
  --speed: 0.55s;
  --spacing: 1em;
  --sides: 1.25em;
  /* --layout: 600px; */
  /* --layout: 1080px; */
  --layout: 1440px;
}

/* --- reset --- */

* { box-sizing: inherit; }

html, body {
  box-sizing: border-box;
  width: 100%;
  /* height: 100%; */
  /* min-height: 100%; */
  min-height: 100vh;
}

nav ul { 
  list-style: none; 
  padding-left: 0;
}

a { 
  text-decoration: none; 
  color: inherit;
}

/* img {} */


/* =================
** Typography
================= */

body { 
  /* background: var(--white); */
  font: 400 1rem/1.25 'Proxima Nova', sans-serif; 
  letter-spacing: 0.01em;
}

/* --- navbar --- */

.nav-item,
.contact-item 
/* { font: var(--h2); } */
{ font: var(--h4); }

/* --- card --- */

.portfolio-projects .card-title,
.portfolio-projects .card-overlay
{ font: var(--h3); }

.card-title p {
  color: var(--light-gray-text);
  text-transform: capitalize;
  margin: 0;
}
.card-overlay p {
  text-align: center;
  text-transform: uppercase;
}

/* --- content --- */

.page-title {
  font: var(--h1);
  margin: 0;
}
.about-copy {
  color: var(--dark-gray-text);
  font: var(--h3);
  line-height: 1.5;
}
.about-copy b {
  font: var(--h1);
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.005em;
}

/* --- portfolio page --- */

.photography-credit {
  /* font-size: 0.875rem; */
  font: var(--body);
  text-align: center;
}

/* --- press article --- */

.press-title {
  font: var(--body-1);
  letter-spacing: 0.025em;
}
.press-date {
  font: var(--body-2);
  letter-spacing: 0.02em;
}
.press-description {
  font: var(--h3);
  font-weight: 600;
  letter-spacing: 0.02em;
}

/* --- media query --- */

@media (min-width: 900px) {
  :root {
    --h1: 400 2.25rem/1.25 var(--proxima-nova);
    --h2: 300 1.5rem/1.5 var(--proxima-nova);
    --h3: 600 1.125rem/1.25 var(--proxima-nova);      /* 2% lettering */
  }

  /* --- navbar --- */

  .nav-item,
  .contact-item 
  { font: var(--h3); }
  /* { font: var(--body-2); } */
  
  /* --- content --- */

  #about .page-title,
  .about-copy
  {
    color: var(--light-gray-text);
  }
  /* #about .page-title { */
    /* text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); */
    /* text-shadow: 2px 3px 5px rgba(0,0,0,0.3); */
  /* } */
  .about-copy {
    font: var(--body-1);
    letter-spacing: 0.025em;
  }
  .about-copy b {
    font-size: 1.875rem;
    letter-spacing: inherit;
  }
}


/* =================
** Resusable Parts
================= */

.page-sides 
{ padding: 0 var(--sides); }
.page-layout {
  max-width: var(--layout);
  height: 100%;
  margin: 0 auto;
}
.logo 
{ width: var(--logo-size); }
.home-logo .logo
{ width: 142px; }

/* --- header --- */

.header 
{ padding: 1em 0; }
.line {
  background: var(--line);
  width: 100%;
  height: 2px;
  margin: 1em 0;
  display: block;
}

/* --- content --- */

/* main */
/* { width: 100%; } */
.content { 
  width: 100%;
  /* height: 100%;  */
}
/* { height: 100vh; } */
.content > .page-layout {
  /* height: 100%; */
  display: flex;
  flex-flow: column;
}
.grid-content { 
  display: grid;
  gap: 1.5em;
  /* margin-bottom: 1em;  */
  /* align-content: center; */
}

/* --- navbar --- */

.nav-menu {
  cursor: pointer;
  width: 20px;
  margin-left: auto;
}

.navbar-btn {
  --nav-btn-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 50%);
  border-radius: 0 var(--radius) var(--radius) 0;
  background: var(--navbar-mobile-text);
  width: 55px;
  height: 48px;
  display: flex;
  position: fixed;
  top: 130px;
  left: -70px;
  transition: left var(--speed) ease-out;
  box-shadow: var(--nav-btn-shadow);
  z-index: 2;
}
.navbar-btn-caret 
{ margin-right: 0.625em; }

/*  */

.navbar {
  background: var(--navbar-desktop-text);
  color: var(--light-gray-text);
  width: 187px;
  height: 100%;
  padding: 3.75em 1.25em;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: -187px;
  transition: left var(--speed) ease-out;
  z-index: 5;
}
.nav-item:not(:last-child),
.contact-item:not(:last-child) 
{ margin-bottom: 1em; }
.nav-item a 
{ border-bottom: 1px solid transparent; }
.nav-list:hover a 
{ border-bottom-color: transparent; }
.nav-list a:hover 
{ border-bottom-color: var(--state-active); }
.contact-list
{ width: 107px; }

/*  */

.navbar-overlay {
  --speed: 0.3s;
  content: '';
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  transition: backdrop-filter var(--speed) ease-in;
  z-index: 1;
}

/*  */

.navbar-active 
{ left: 0; }
.nav-active a 
{ border-bottom-color: var(--state-active); }
.navbar.navbar-active ~ .navbar-overlay {
  visibility: initial;
  backdrop-filter: blur(4px);
}

/* --- card --- */

.card {
  border-radius: var(--radius);
  min-width: 0;
  display: flex;
  flex-flow: column;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  box-shadow: var(--shadow-default);
  transition: box-shadow var(--speed) ease;
}
.card-image {
  flex: 1 1 auto;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.card-title {
  background: var(--card-text);
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.card-title p {
  padding: 0 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-overlay {
  --speed: 0.3s;
  --size: 100%;
  width: var(--size);
  height: var(--size);
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: var(--speed) ease;
  transition-property: background, color, opacity;
  cursor: pointer;
}


/* =================
** Home
================= */

#home {
  width: 100%;
  max-height: 100vh;
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
.home-logo {
  /* position: fixed; */
  position: absolute;
  top: 28px;
  left: 32px;
}
.project {
  width: 100%;
  height: 100vh;
  display: block;
  scroll-snap-align: start;
}
.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* =================
** Portfolio
================= */

.portfolio-projects {
  --row: minmax(378px,1fr) 223px;
  grid-template: repeat(auto-fit,var(--row)) / 1fr 1fr;
  grid-auto-rows: var(--row);
  grid-auto-flow: row;
}
.portfolio-projects .card-title {
  min-height: 50px;
}
.card-primary {
  grid-column: 1 / -1; 
}

/* --- Project Page --- */

/* =================
** About
================= */

.about-image {
  --adjust: calc(var(--sides) * -1);
  border-radius: var(--radius) 0 0 var(--radius);
  width: 85%;
  /* max-width: 300px; */
  margin-left: auto;
  margin-right: var(--adjust);
  margin-bottom: 1.55em;
  display: block;
  object-fit: cover;
  box-shadow: var(--shadow-active);
}


/* =================
** Press
================= */

.portfolio-press { 
  --row: minmax(275px, 1fr);
  grid-template: repeat(2, var(--row)) / repeat(2, 1fr); 
  grid-auto-rows: var(--row);
}
.portfolio-press .card-title 
{ min-height: 89px; }
.portfolio-press .date { display: none; }

/*  --- Press Article --- */

.press-content {
  height: 79vh;
}
.press-image 
{ max-width: 317px; }
.press-image img {
  /* border-radius: var(--radius); */
  width: 100%;
  object-fit: contain;
  /* box-shadow: var(--shadow-active); */
}
.press-description span 
{ display: block; }
.press-date { display: none; }

.press-pdf {
  width: 100%;
  height: 100%;
  /* height: 318vh; */
}
.card-press {
/* .card-press .card-image { */
  height: 500px;
}
.card-press img {
  object-position: left;
}
.card-press .card-title {
  min-height: 85px;
}
.card-press * {
  font-size: 1.1rem;
}
.card-press .press-link {
  color: var(--light-gray-text);
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  margin-top: 0.25em;
}

/* =================
** Media Query
================= */

@media (min-width: 630px) {
  /* --- about --- */

  .about-content {
    display: flex;
    padding-left: 3.75em;
  }
  .about-image {
    order: 2;
    width: 50%;
    max-width: 400px;
    margin-left: 1.85em;
  }
  .about-copy 
  { order: 1; }
}

@media (min-width: 900px) {
  :root {
    --logo-size: 142px;
    --sides: 5em;
  }

  /* --- navbar --- */
  
  .navbar-btn 
  { display: none; }
  .navbar {
    --p-size: 5.313em 2.5em 3.75em;
    height: 100vh;
    padding: var(--p-size);
    position: sticky;
    top: 0;
    left: 0;
  }
  .navbar-logo img 
  { width: 100%; }
  .navbar-caret
  { display: none; }

  /* --- card --- */

  .card:hover 
  { box-shadow: var(--shadow-hover); }
  .card:active
  { box-shadow: var(--shadow-active); }
  .card:hover .card-overlay {
    background-color: var(--state-hover);
    color: var(--white);
    opacity: 1;
  }
  .card:active .card-overlay 
  { background: var(--state-active); }
  .card-overlay p 
  { margin: auto; }

  /* --- Content --- */

  body 
  { display: flex; }
  .home-logo,
  .page-logo, 
  .line
  { display: none; }
  .page-title
  { margin-top: 1.625em; }

  /* --- Portfolio --- */

  .portfolio-projects {
    --row: minmax(245px, auto);
    --column: minmax(auto,752px) minmax(auto,324px);
    grid-template: var(--row) / var(--column);
    grid-auto-rows: var(--row);
    grid-auto-flow: column;
    flex: 1 1 auto;
    margin-bottom: 1.5em;
  } 
  .portfolio-projects .card-title 
  { display: none; }
  .card-primary 
  { grid-row: auto / span 2; }

  /* --- About --- */

  body.about {
    background-image: url('../images/profile-shots/profile-background-1-min.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  #about {
    --gradient: linear-gradient(
      179.98deg, 
      rgba(0, 0, 0, 0) 2.14%, 
      rgba(0, 0, 0, 0.379675) 53.27%,
      rgba(0, 0, 0, 0.4) 61.73%,
      rgba(0, 0, 0, 0.379777) 72.16%, 
      rgba(0, 0, 0, 0.38) 80.33%, 
      rgba(0, 0, 0, 0.335936) 85.67%, 
      rgba(0, 0, 0, 0.28813) 91.47%, 
      rgba(0, 0, 0, 0.24864) 96.26%, 
      rgba(0, 0, 0, 0.198758) 102.31%, 
      rgba(0, 0, 0, 0.163425) 106.59%, 
      rgba(0, 0, 0, 0.12) 111.86%
    );
    background-image: var(--gradient);
  }
  #about .page-layout {
    display: flex;
    flex-flow: column;
  }

  .about-content {
    /* flex: 1 1 auto; */
    padding-left: initial;
    display: flex;
    flex-flow: wrap;
  }
  .about-image {
    order: 1;
    border-radius: var(--radius);
    width: 100%;
    margin: 0;
    margin-right: 2.75em;
    /* align-self: flex-start; */
  }
  .about-copy {
    order: 2;
    /* width: 55%; */
    max-width: 46ch;
  } 
}

@media (min-width: 1080px) {
  /* --- About --- */

  .about-content {
    flex: 1 1 auto;
    margin-top: -9em;
    align-items: center;
  }
  .about-image {
    width: 45%;
  }
  .about-copy {
    flex: 1;
    width: 40%;
  }

  /* --- portfolio page --- */

  .photography-credit {
    position: fixed;
    bottom: -1.25%;
  }

  /* --- Press --- */

  .portfolio-press {
    /* --row: 245px; */
    --row: minmax(auto,260px);
    --column: repeat(auto-fill, minmax(306px,1fr));
    grid-template: var(--row) / var(--column);
    grid-auto-rows: var(--row);
    flex: 1 1 auto;
    margin-bottom: 1.5em;
  }
  .portfolio-press .card-title 
  { min-height: 99px; }

  /* --- Press Article --- */

  /* .press-content  */
  /* { display: flex; } */
  .press-image {
    min-width: 25%;
    max-width: 445px;
    margin-right: 3em;
  }
  .press-copy {
    max-width: 47ch;
    /* margin-top: 4.5em; */
  }
}

/* .portfolio-press .date { display: block !important; } */
/* .press-date { display: block !important; } */
