/* html,body,#root { border: 1px solid darkslategray; } */

/* header { border: 3px solid slategray; } */
/* header * { border: 1px solid dimgray; } */
main { border: 3px solid slategray; }
/* footer { border: 3px solid slategray; } */
/* footer * { border: 1px solid dimgray; } */
/* .page-layout { border: 3px solid slategray; } */
/* header .page-layout { border: 3px solid slategray; } */
main .page-layout { border: 3px solid slategray; }
/* footer .page-layout { border: 3px solid slategray; } */

/* .navbar-btn { border: 3px solid slategray; } */
/* .navbar { border: 3px solid slategray; } */
/* .navbar * { border: 1px solid gray; } */
/*  */
/* .card { border: 1px solid gray; } */
/* .card * { border: 1px solid lightcoral; } */
/*  */
/* .project { border: 1px solid gray; } */
/* .project * { border: 1px solid lightcoral; } */
/*  */
/* .about-content { border: 1px solid gray; } */
/*  */
/* .protfolio-projects { border: 3px solid slategray; } */
/* .protfolio-projects > * { border: 1px solid gray; } */
.card-primary { border: 1px solid gray; }
.card-secondary { border: 1px solid gray; }
/*  */
/* .press-content { border: 1px solid gray; } */
/* .press-content * { border: 1px solid gray; } */
/*  */
.project-content { border: 2px solid red; }
.carousel-slide { border: 2px solid green; }
.item { border: 1px solid blue; }
/*  */


.portfolio-projects {
  /* height: 100%; */
  /* grid-template: 1fr / 1fr 1fr; */
  --row: minmax(378px,1fr) 223px;
  grid-template: repeat(auto-fit,var(--row)) / 1fr 1fr;
  /* grid-template: repeat(auto-fill,var(--row)) / 1fr 1fr; */
  grid-auto-rows: var(--row);
  /* grid-auto-flow: row; */
}
.card-primary 
{ 
  /* height: 100%; */
  /* max-height: 70vh; */
  grid-column: 1 / -1; 
}

@media (min-width: 800px) {
  .portfolio-projects 
  { 
    /* --column-1: 1fr; */
    --column-1: minmax(auto,752px);
    --column-2: minmax(auto,324px);
    grid-template: 1fr / var(--column-1) var(--column-2);
    grid-auto-rows: 1fr; 
    grid-auto-flow: column;
    /* height: 85vh; */
  } 
  /* .card-primary img, */
  /* .card-secondary img */
  /* { width: 100%; } */
  .card-primary 
  { 
    grid-row: auto / span 2; 
  }
  .card-secondary 
  {
    /* grid-column: -1; */
    /* width: 324px; */
    /* height: 310px; */
    /* height: 299px; */
  }
}

/*  */

/* { grid-template: 275px 275px / 1fr 1fr; } */
/* { grid-template: 424px / repeat(auto-fill, minmax(200px, 1fr)); } */