/* html,body,#root { border: 1px solid darkslategray; } */

/* header { border: 3px solid slategray; } */
/* header * { border: 1px solid dimgray; } */
/* main { border: 3px solid slategray; } */
/* footer { border: 3px solid slategray; } */
/* footer * { border: 1px solid dimgray; } */
.page-layout { border: 3px solid slategray; }
/* header .page-layout { border: 3px solid slategray; } */
/* main .page-layout { border: 3px solid slategray; } */
/* footer .page-layout { border: 3px solid slategray; } */
/*  */
#portfolio { border: 1px solid gray; }
/* #about { border: 1px solid gray; } */
/* #press { border: 1px solid gray; } */
/*  */
/* .navbar { border: 3px solid slategray; } */
/* .navbar * { border: 1px solid gray; } */
/* .navbar-btn { border: 3px solid slategray; } */
/*  */
/* .card { border: 1px solid gray; } */
/* .card * { border: 1px solid lightcoral; } */
/* .card .card-image { border: 1px solid lightgreen; } */
/*  */
/* .portfolio-projects { border: 2px solid red; } */
/* .portfolio-projects > * { border: 1px solid gray; } */
/* .card-primary { border: 1px solid red; } */
/* .card-secondary { border: 1px solid red; } */
/*  */
/* .about-content { border: 2px solid red; } */
/*  */
/* .portfolio-press { border: 2px solid red; } */
/* .card-press { border: 1px solid red; } */
/*  */
/*  */
.project-content { border: 2px solid red; }
.project-content * { border: 1px solid gray; }
.carousel-slide { border: 2px solid green; }
.slide-indicator { border: 1px solid blue; }
/*  */
/* .press-content { border: 2px solid red; } */
/* .press-content > * { border: 1px solid gray; } */
/* .press-image img { border: 1px solid green; } */
/*  */
